
README.md
 joeun@ijo-eun-ui-MacBookPro  ~/Desktop/SOPT/LeeJoEun-assignment   feature/#1
 vi # Created by https://www.toptal.com/developers/gitignore/api/macos,xcode,swiftpackagemanager
# Edit at https://www.toptal.com/developers/gitignore\?templates\=macos,xcode,swiftpackagemanager

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.



